// Responsive breakpoints
$smWidth: 568px
$mdWidth: 724px
$lgWidth: 1024px

// Fonts
$fontFam: 'Helvetica Neue', 'Helvetica', sans-serif

// Colors
$lightColor: rgba(255, 255, 255, 1)
$midColor: rgba(140, 140, 140, 1)
$darkColor: rgba(0, 0, 0, 1)
$boxColor: rgba(222, 222, 222, 1)
$accentColor: rgba(10, 132, 255, 1)
$lightTrans: rgba(255, 255, 255, .75)
$midTrans: rgba(50, 50, 50, .96)
$darkTrans: rgba(0, 0, 0, .8)
