// max segale - portfolio style sheet

// set responsive breakpoints
$smallWidth: 375px;
$midWidth: 568px;
$bigWidth: 724px;
$fullWidth: 1024px;

// set fonts and colors
$fontFam: "Helvetica Neue", "Helvetica", sans-serif;
$boxColor: rgba(222, 222, 222, 1);
$midColor: rgba(150, 150, 150, 1);
$blueColor: rgba(10, 132, 255, 1);
$blackTran: rgba(0, 0, 0, 0.8);
$greyTran: rgba(50, 50, 50, 0.96);
$whiteTran: rgba(255, 255, 255, 0.96);

// background images
$imgSelf: 'img/me.jpg';
$imgLoad: 'img/icons/max-segale.svg';
$imgMenu: 'img/icons/menu-24px.svg';
$imgMoreB: 'img/icons/more-24px-b.svg';
$imgMoreW: 'img/icons/more-24px-w.svg';
$imgLeftW: 'img/icons/left-24px-w.svg';
$imgRightB: 'img/icons/right-24px-b.svg';
$imgRightW: 'img/icons/right-24px-w.svg';
$imgCloseB: 'img/icons/close-24px-b.svg';
$imgCloseW: 'img/icons/close-24px-w.svg';

// initial styles
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

// tag styles
html, body {
  text-align: left;
  font-size: 16px;
  font-family: $fontFam;
  color: black;
  background-color: white;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1, h2, h3 {
  display: inline;
  font-size: inherit;
  font-weight: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 10px 0;
}
ul {
  list-style: none;
}

// general classes
.heading {
  display: block;
  font-size: 1.25em;
  text-transform: capitalize;
}
.heavy {
  font-weight: 700;
}
.u_line {
  text-decoration: underline;
}
.btn {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 15px;
  color: white;
  background-color: $blueColor;
  transition: text-shadow 125ms linear, box-shadow 125ms linear;
  &:hover {
    text-shadow: 0 1px 1px $blackTran;
    box-shadow: inset 0 1px 3px 0 $blackTran;
  }
  &:active {
    text-shadow: 0 1px 3px $blackTran;
    box-shadow: inset 0 1px 10px 0 $blackTran;
  }
}
.backdrop, .click_block {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
.backdrop {
  z-index: 100;
  background-color: $greyTran;
  backdrop-filter: blur(32px);
  transition: opacity 500ms linear;
  animation: fadeIn 500ms linear;
}
.click_block {
  z-index: 20;
}
.see_thru {
  opacity: 0;
}
.no_scroll {
  overflow: hidden;
}
.no_select {
  -webkit-touch-callout: none;
  user-select: none;
}

// page structure
.wrapper {
  padding: 2vh 0 0;
}
.container {
  overflow: hidden;
}

// header section
header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 25;
  top: 0;
  padding: 10px 0;
  background-color: $whiteTran;
  > nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    white-space: nowrap;
    padding: 0 10px;
    .title {
      font-size: 1.5em;
      font-weight: 700;
      margin-right: 5px;
      cursor: pointer;
      &:active {
        text-decoration: underline;
      }
    }
    .slash {
      display: none;
      color: $midColor;
    }
  }
}

// nav menu section
.menu_box {
  height: 0;
  z-index: 30;
  text-transform: capitalize;
  flex: 1 0 0;
}
ul.menu {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 0 0 5px;
  border-radius: 5px;
  &.open {
    color: white;
    background-color: $blackTran;
    box-shadow: 0 0 0 5px white;
    backdrop-filter: blur(32px);
    > li {
      display: block;
      &.sub_title span {
        background-image: url($imgRightW);
        &.selected {
          background-image: url($imgMoreW);
        }
      }
    }
  }
  > li {
    display: none;
    margin: 0 0 10px;
    &:last-child {
      margin: 0 0 20px;
    }
    &.sub_title {
      display: block;
      line-height: 45px;
      margin: 0;
      span {
        padding: 0 25px 0 10px;
        cursor: pointer;
        background: url($imgRightB) right center no-repeat;
        &:active {
          text-decoration: underline;
        }
        &.selected {
          text-decoration: underline;
          background-image: url($imgMoreB);
        }
      }
    }
    > div {
      float: right;
      padding: 0 10px 0 30px;
      border-radius: 5px 0 0 5px;
      cursor: pointer;
      transition: background-color 250ms linear;
      &:active {
        color: white;
        background-color: $midColor;
      }
      &.selected {
        color: black;
        background: white url($imgCloseB) left center / contain no-repeat;
      }
    }
  }
}

// tags sub-menu
ul.menu > li.sub_menu_box {
  margin: 0;
}
ul.sub_menu {
  height: 0;
  overflow: hidden;
  float: left;
  &.open {
    height: initial;
  }
  > li {
    margin: 0 0 10px;
    padding: 0 0 0 20px;
    cursor: pointer;
    &:active, &.selected {
      text-decoration: underline;
    }
  }
}

// nav menu icon
.menu_btn {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 5px;
  border: 2px solid black;
  border-radius: 5px;
  background: url($imgMenu) center center / contain no-repeat;
  &:active {
    background-color: $boxColor;
  }
  &.show {
    display: block;
  }
  &.selected {
    background: $blackTran url($imgCloseW) center center / contain no-repeat;
  }
}

// hidden nav content
.nav_boxes {
  width: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
  transition: height 500ms ease-in;
}
.nav_box {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  padding: 4vh 20px;
  transform: translateY(100%);
  transition: transform 500ms linear, opacity 500ms linear;
  &.show {
    position: relative;
    z-index: 2;
    opacity: 1;
    transform: translateY(0%);
    .profile_pic {
      animation: spinRight 500ms linear;
    }
  }
  > div {
    overflow: hidden;
  }
  .btn.src {
    float: left;
  }
  .profile_pic {
    width: 120px;
    height: 120px;
    margin: 10px 0 0 10px;
    border-radius: 60px;
    float: right;
    background: url($imgSelf) center center / cover no-repeat;
    -webkit-user-select: none;
    transition: transform 1000ms ease;
    animation: spinLeft 500ms linear;
    &:active {
      transform: rotate(360deg);
    }
  }
}

// message form
form[name='ask'] {
  input, textarea {
    display: block;
    border-radius: 5px;
    font-family: $fontFam;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
  }
  input[type='email'], textarea {
    width: 100%;
    margin-top: 5px;
    border: 2px solid $boxColor;
    padding: 4px 0 3px 10px;
    font-size: 0.8em;
    resize: none;
    color: black;
    background-color: $boxColor;
  }
  input[type='email']:focus, textarea:focus {
    border: 2px solid black;
    background-color: white;
  }
  input[type='submit'] {
    margin: 5px 10px 0 0;
    font-size: 1em;
  }
  .send_row {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    .status {
      font-size: 0.8em;
    }
  }
}

// content area
.content {
  > .heading {
    margin: 4vh 0 0;
    padding: 0 20px;
    position: relative;
    left: -100vw;
    opacity: 0;
    transition: left 500ms ease-out, opacity 500ms linear;
    &.show {
      left: 0;
      opacity: 1;
    }
  }
}

// categories display
.categories {
  li {
    height: 15vw;
    min-height: 150px;
    max-height: 225px;
    position: relative;
    overflow: hidden;
    margin: 4vh 0 0 0;
    background: $boxColor;
    &:first-child {
      height: 20vw;
      min-height: 175px;
      max-height: 250px;
    }
    .type {
      width: 100%;
      height: 0;
      position: relative;
      z-index: 15;
      &:hover {
        .text {
          //box-shadow: 0 0 0 5px white;
        }
      }
      &:active {
        .text {
          //background-color: black;
          > * {
            //background-color: black;
          }
        }
      }
      .text {
        cursor: pointer;
        margin: 0 10px;
        border-radius: 10px;
        padding: 5px 50px 5px 20px;
        color: white;
        background: $blackTran url($imgRightW) right center / 40px no-repeat;
        box-shadow: 0 0 0 5px white;
        transition: background 250ms ease, box-shadow 100ms linear;
        animation: fromLeft 1s ease-out;
        > .heading {
          display: inline;
          font-size: 1.5em;
        }
        > span {
          font-weight: 300;
          text-indent: 10px;
        }
        > * {
          //background-color: $blueColor;
        }
      }
    }
    .row_wrap {
      width: 100%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      &.sliding {
        will-change: width;
        //animation: sliderWrap 15000ms linear infinite alternate;
        .row {
          will-change: transform;
          //animation: sliderRow 15000ms linear infinite alternate;
        }
      }
      .row {
        height: 100%;
        position: absolute;
        z-index: 10;
        display: flex;
        flex-flow: row nowrap;
        .cat_list_img {
          max-width: 0;
          height: 100%;
          display: block;
          opacity: 0;
          margin: 0 5px 0 0;
          transform: translateX(100vw);
          transition: transform 1s ease-out, max-width 1s linear, opacity 2s linear;
          &.show {
            max-width: 9999px;
            opacity: 0.5;
            transform: translateX(0);
          }
        }
      }
    }
  }
}

// projects display
.projects {
  li {
    position: relative;
    padding: 10px 0 4vh 0;
    animation: projItem 500ms ease-out;
    .info {
      padding: 0 20px;
      margin: 0 0 10px 0;
      .name {
        font-size: 1.2em;
        font-style: italic;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .images {
      display: flex;
      flex-flow: row wrap;
      border: 1px solid white;
      > .img {
        height: 125px;
        cursor: pointer;
        border: 1px solid white;
        background: center center / cover no-repeat;
        flex: 50 0 0;
        transition: height 500ms linear, flex 125ms linear;
        animation: fadeIn 500ms linear;
        &:hover {
          flex: 51 0 0;
        }
        &:active {
          flex: 52 0 0;
        }
        &.wide {
          background-position: center top;
        }
      }
    }
  }
}

// project pop-up view
.project {
  width: 100%;
  max-height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 200;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow: hidden;
  color: white;
  text-shadow: 0 1px 5px $blackTran;
  transform: translate(-50%, -50%);
  transition: opacity 500ms linear;
  animation: fadeIn 500ms linear;
  .name {
    font-style: italic;
    text-decoration: underline;
    flex: 0 0 0;
  }
  .nav_box {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin: 10px 0;
    flex: 0 0 25px;
    .prev, .next {
      height: 25px;
      cursor: pointer;
      background: center center / 100% no-repeat;
      flex: 0 0 25px;
    }
    .prev {
      background-image: url($imgLeftW);
    }
    .next {
      background-image: url($imgRightW);
    }
    .caption {
      font-weight: 300;
      flex: 1 0 0;
    }
  }
  .img_box, .thumb_box {
    display: flex;
    flex-flow: row nowrap;
  }
  .img_box {
    width: 100%;
    flex: 1 0 50%;
    > div {
      background: center center / contain no-repeat;
      flex: 0 0 0;
      transition: flex 250ms linear;
      &.selected {
        padding-top: 100%;
        flex: 0 0 100%;
      }
    }
  }
  .thumb_box {
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
    flex: 0 0 40px;
    > div {
      height: 40px;
      cursor: pointer;
      margin-left: 10px;
      border: 2px solid white;
      border-radius: 10px;
      background: center center / 150% no-repeat;
      flex: 4 0 0;
      transition: flex 250ms linear, border 250ms linear;
      &:first-child {
        margin-left: 0;
      }
      &.selected {
        border: 5px solid $blueColor;
        flex: 5 0 0;
      }
    }
  }
}
.project_close {
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 300;
  left: 5px;
  top: 5px;
  cursor: pointer;
  background: url($imgCloseW) center center / 100% no-repeat;
}

// loading view
.loading {
  height: 75vh;
  opacity: 0.25;
  background: url($imgLoad) center center / 125px no-repeat;
  animation: loadPulse 750ms ease infinite alternate;
}

// footer section
footer {
  text-align: center;
  padding-top: 100px;
  .copyright {
    font-size: 0.75em;
    font-weight: 300;
    padding: 20px;
    color: $midColor;
  }
}

// sm size layout
@media (min-width: $smallWidth) {
  header > nav .slash {
    display: block;
  }
  .nav_boxes .nav_box {
    //padding: 0 15px;
  }
  .nav_box .profile_pic {
    width: 144px;
    height: 144px;
    border-radius: 72px;
    //margin-left: 20px;
  }
  .content > .heading {
    //margin-left: 20px;
  }
  .projects li .info {
    //padding: 0 20px;
  }
}

// md size layout
@media (min-width: $midWidth) {
  html, body {
    font-size: 18px;
  }
  ul.menu {
    flex-flow: row wrap;
    align-items: baseline;
    &.open {
      color: initial;
      background-color: initial;
      box-shadow: none;
      backdrop-filter: none;
      > li.sub_title span {
        background-image: url($imgRightB);
        &.selected {
          background-image: url($imgMoreB);
        }
      }
    }
    > li {
      display: block;
      margin: 0 10px 0 0;
      flex: 10 0 0;
      &:last-child {
        margin: 0;
      }
      &.sub_menu_box {
        flex: 0 0 100%;
        order: 4;
      }
      > div {
        float: none;
        text-align: center;
        padding: 0;
        border-radius: 5px;
        //background-color: $boxColor;
        &.selected {
          color: white;
          background: $blackTran url($imgCloseW) left center / 24px 24px no-repeat;
        }
      }

    }
  }
  ul.sub_menu {
    border-radius: 5px;
    margin-left: 10px;
    &.open {
      color: white;
      background-color: $blackTran;
      box-shadow: 0 0 0 5px white;
      backdrop-filter: blur(32px);
    }
    > li {
      margin: 10px 0;
      padding: 0 20px;
      &:last-child {
        margin: 10px 0;
      }
    }
  }
  .menu_btn {
    width: 0;
    margin: 0;
    border: 0;
  }
  .nav_box {
    .profile_pic {
      width: 200px;
      height: 200px;
      border-radius: 100px;
    }
    .left {
      width: 50%;
      float: left;
      padding-right: 20px;
    }
    .message_box {
      margin: 10px 0 0;
    }
  }
  .categories .text {
    float: left;
  }
  .projects li .images > .img {
    height: 150px;
  }
  .project {
    width: $midWidth;
    .img_box {
      max-width: 64vh;
    }
  }
}

// lg size layout
@media (min-width: $bigWidth) {
  header nav,
  .nav_boxes,
  .categories .type,
  .content .heading,
  .projects li .info,
  footer {
    width: $bigWidth;
    margin-left: auto;
    margin-right: auto;
  }
  ul.menu > li {
    &.sub_title {
      flex: 15 0 0;
    }
    > div.selected {
      background-position: 5px center;
    }
  }
  /*.menu_box ul.menu > li.sub_menu_box {
    margin: 0 10px 0 0;
    flex: 1 0 0;
    order: initial;
  }
  .menu_box ul.sub_menu {
    float: none;
  }
  ul.menu > li.sub_title {
    flex: 0 0 0;
  }*/
  .categories li .text {
    //margin-left: 10px;
    //border-radius: 5px;
  }
  .projects li .images > .img {
    height: 175px;
  }
}

// full size layout
@media (min-width: $fullWidth) {
  html, body {
    //font-size: 20px;
  }
  .projects li .images > .img {
    //height: 200px;
  }
  .project .img_box {
    max-width: 80vh;
  }
}

// animation frames
@keyframes fromLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes sliderWrap {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@keyframes sliderRow {
  0% {
    //left: 0;
    transform: translateX(0);
  }
  100% {
    //left: 100%;
    transform: translateX(-100%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spinLeft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spinRight {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes loadPulse {
  0% {
    opacity: 0.25;
    background-size: 100px;
  }
  100% {
    opacity: 0.1;
    background-size: 125px;
  }
}
@keyframes projItem {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
